body {
    background: linear-gradient(to bottom, rgb(15, 14, 30), rgb(41, 39, 71));
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.wishlist-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}
.wishlist-image {
    height: 40px;          
    width: auto;
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg) brightness(105%) contrast(115%); 
}
.middle-section {
    margin-left: 50px;
    margin-bottom: 50px;
}

.empty-wishlist {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-wishlist-image {
    height: 40%;
    filter: invert(1) brightness(100) opacity(.1);
}

.empty-wishlist-text {
    color: white;
    filter: opacity(.1);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.empty-wishlist-hidden {
    display: none;
}